header h1 {
    background: linear-gradient(to right, #5aa2e9 0%, #000066 100%);
    color: white;
    text-align: center;
    padding: 10px;
}

.form-el {
    border-bottom: 20px, darkgrey;
    margin: 10px;
    width: 100%;
}

.form-input {
    width: 100%;
}
.search-btn {
    border: none;
    outline: none;
    background:#5aa2e9;
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.past-search-btn {
    border: none;
    outline: none;
    background:lightgrey;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}


.todays-weather-container {
    border: solid 2px;
    padding: 10px;
}

.forcast-card{
    background-color: darkblue;
    margin: 10px;
}
.forcast-font {
    color: white;
}
    

.low-uvIndex {
    background-color: green;
    color: white;
    width: fit-content;
    padding: 5px;
}

.moderate-uvIndex {
    background-color:yellow;
}

.high-uvIndex {
    background-color: red;
}
